<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- GLES 3.0: FNA3D's OpenGL driver runs as GLES3 on Android -->
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="true" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- allowBackup off: 2 GB of game files download again; settings stay on the phone -->
  <application android:allowBackup="false" android:isGame="true" android:hardwareAccelerated="true"
               android:label="Graveyard Battles" android:icon="@mipmap/appicon" />
</manifest>
